
.main-section {
    padding: 100px 0;
}
.products-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-img-top {
    width: 200px;
    background-color: #191B1C;
}
.watch-name {
    font-size: 18px;
    color: white;
}
.watch-price {
    font-size: 16px;
    color: white;
}
.product-info {
    color: rgba(255, 255, 255, 0.5);
}
.products-bar__item {
    display: flex;
    justify-content: space-between;
}
.product-info {
    padding: 0 50px;
}
